<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dshakiba.AwakeBar.PrivilegedHelper.v2</string>
  <key>BundleProgram</key>
  <string>Contents/Library/HelperTools/AwakeBarPrivilegedHelper</string>
  <key>MachServices</key>
  <dict>
    <key>com.dshakiba.AwakeBar.PrivilegedHelper.v2</key>
    <true/>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
</dict>
</plist>
